@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before,*::after {
  box-sizing: inherit;
}

.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 200px;
}

.tabs li {
  display: inline-block;
}

.tabs a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 3px grey solid;
  border-radius: 100%;
}

.tabs a:hover {
  background-color: grey;
}



.panel {
  display: none;
}
